
.navbar-brand .fas {
    margin-left: 20px;
    margin-right: 15px;
}

.navbar-brand .sub-heading {
    font-size: 1rem;
}

.about-text {
    text-align: center;
}


.warning {
    font-size: 0.8rem;
    color: #D11D05;
}

img {
    max-width: 100%;
}

button .fas {
    color: #343a40;
}

.github {
    position: absolute; 
    top: 0; 
    right: 0; 
    border: 0;
    max-width: 130px;
}

.buttons button {
    margin-bottom:5px;
}

.btn.btn-block {
    margin-top: 0;
}


@media only screen and (max-width: 800px) {
    .push-sm {
        margin-left: 30px;
    }
}




